.container {
  min-height: 100vh;
  background-color: #1E2432;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card {
  background-color: #222838;
  border: 1px solid black;
  border-radius: 8px;
  padding: 6rem 6rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: #1E2432;
  border: 1px solid #ccc;
  color: white;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.retanguloTopo { /* Criando um estilo */
  position: fixed; /* fixa o retangulo na tela */
  top: 0; /* cola no topo */
  left: 0; /* cola na esquerda */
  width: 100vw; /* largura igual à janela visível */
  height: 100px; /* altura */
  background-color: #2B009D; /* cor de fundo */
}

.retanguloEntrar {
  position: fixed;
  top: 31.5;
  right: 40;
  width: 100px;
  height: 37px;
  background-color: #5F29F4;
  border-radius: 8px; /* deixa a borda arredondada */
  cursor: pointer; /* mostra que é clicável */
  display: flex; /* o elemento vira um container flex o que permite controlar o posicionamento interno dos filhos */
  align-items: center; /* controlea o alinhamento vertical dos itens */
  justify-content: center; /* controla o alinhamento horizontal dos itens */
  color: white;
  font-weight: bold; /* negrito */
  font-size: 14px; /* tamanho do texto */
}